.itemImgContainer {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.itemImgContainer img {
  height: 100%;
  object-fit: cover;
}
.ChatListCardContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid rgba(70, 70, 70, 0.7);
  padding: 20px;
  background-color: transparent;
  transition: 0.3s ease-in-out all;
  justify-content: space-between;
}
.ChatListCardContainer:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out all;
}
.text span {
  font-weight: bold;
  font-size: 0.9rem;
}
.text p {
  font-size: 0.85rem;
  font-weight: bold;
}
.chatListImageNusernameContainer {
  display: flex;
  gap: 10px;
}
.crossIcon {
  font-size: 1.5rem;
  color: #c93f6d;
  transition: 0.3s ease-in-out all;
}
.crossContainer {
  opacity: 0;
  transition: 0.3s ease-in-out all;
}
.ChatListCardContainer:hover .crossContainer {
  opacity: 1;
  transition: 0.3s ease-in-out all;
}
.ChatListCardContainer .you{
  font-size: 0.75rem;
  font-weight: 100;
}
.username{
  display: flex;
  align-items: center;
  gap: 10px;
  /* border: 1px solid white; */
}
.notiIcon{
  font-size: .8rem;
  color: #c93f6d;
  margin-top: 4px;
}