* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 0px #000 inset;
  transition: background-color 300s ease-in-out 0s;
}

.container {
  height: 100vh;
  width: 100%;
  background: url("https://r4.wallpaperflare.com/wallpaper/531/951/621/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-08869d3810a06c28a09cf1be487204ea.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper,
.loadingWrapper {
  width: 80%;
  height: 90%;
  border-radius: 20px;
  background: rgba(17, 25, 40, 0.75);
}
.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.2rem;
}
@media screen and (max-width: 1000px) {
  .wrapper,
  .loadingWrapper{
    height: 80%;
    overflow: hidden;
    position: relative;
  }
}